@(session: play.mvc.Http.Session)
    @import components._

@main("ReStart") {
    <body>
        <div class="site-content">
            @header("MyAccount", session)

            @banner()

            <div class="container">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="portlet light profile-sidebar-portlet bordered">
                            <div class="profile-userpic">
                                <figure class="live-camera-cover"><img src="@routes.Assets.versioned(session.get("profilePictureURL"))" alt=""></figure>
                            </div>

                            <div class="profile-usertitle">
                                <div class="profile-usertitle-name">@session.get("loggedInAs")</div>
                            </div>
                            <div class="profile-usermenu">
                                <ul class="nav">
                                    <li class="active">
                                        <a href="/myaccount">
                                            <i class="icon-home"></i> Order History </a>
                                    </li>
                                    <li>
                                        <a href="/myaccount/personalsettings">
                                            <i class="icon-settings"></i> Personal Settings </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon-settings"></i> Favorites </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon-info"></i> Inventory </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon-info"></i> Reviews </a>
                                    </li>
                                    <li>
                                        <a href="/logout">
                                            <i class="icon-info"></i> Log Out </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="portlet light bordered">

                        </div>
                    </div>
                </div>
            </div>
            @footer()

                <!-- Required for the banner -->
            <script src="@routes.Assets.versioned("javascripts/jquery-1.11.1.min.js")"></script>

            <script src="@routes.Assets.versioned("javascripts/plugins.js")"></script>
            <script src="@routes.Assets.versioned("javascripts/app.js")"></script>
        </div>
    </body>
}