@()

    @import components._

    @main("ReStart") {
        <body>
            <div class="site-content">
                @header("MyAccount")

                @banner()
                @footer()

                    <!-- Required for the banner -->
                <script src="@routes.Assets.versioned("javascripts/jquery-1.11.1.min.js")"></script>

                <script src="@routes.Assets.versioned("javascripts/plugins.js")"></script>
                <script src="@routes.Assets.versioned("javascripts/app.js")"></script>
            </div>
        </body>
    }