@()

<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="contact">
                    <h4>Restart Company</h4>
                    <a href="mailto:contact&#64;ReStart.com">contact&#64;ReStart.com</a>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <div class="social-links">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                </div>
            </div>
        </div>

        <p class="colophon">Copyright 2017 ReStart. All rights reserved</p>
    </div>
</footer> <!-- .site-footer -->