@(activeMenuItem: String)

<div class="game-navigation">
    <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
    <ul class="menu">
        @if(activeMenuItem.equals("ALL")) {
            <li class="menu-item current-menu-item"><a href="/">ALL</a></li>
        } else {
            <li class="menu-item"><a href="/">ALL</a></li>
        }

        @if(activeMenuItem.equals("MMORPG")) {
            <li class="menu-item current-menu-item"><a href="/MMORPG">MMORPG</a></li>
        } else {
            <li class="menu-item"><a href="/MMORPG">MMORPG</a></li>
        }

        @if(activeMenuItem.equals("MOBA")) {
            <li class="menu-item current-menu-item"><a href="/MOBA">MOBA</a></li>
        } else {
            <li class="menu-item"><a href="/MOBA">MOBA</a></li>
        }

        @if(activeMenuItem.equals("FPS")) {
            <li class="menu-item current-menu-item"><a href="/FPS">FPS</a></li>
        } else {
            <li class="menu-item"><a href="/FPS">FPS</a></li>
        }

        @if(activeMenuItem.equals("sandbox")) {
            <li class="menu-item current-menu-item"><a href="/sandbox">sandbox</a></li>
        } else {
            <li class="menu-item"><a href="/sandbox">sandbox</a></li>
        }

        @if(activeMenuItem.equals("other")) {
            <li class="menu-item current-menu-item"><a href="/other">other</a></li>
        } else {
            <li class="menu-item"><a href="/other">other</a></li>
        }
    </ul>
        <!-- .menu -->
</div>