@import services.SearchBarService

@(input: String, message: String)

<div class="hero" data-bg-image="@routes.Assets.versioned("images/Banner-Test.jpg")">
    <div class="container">
        <div class="find-location">
        @helper.form(action = helper.CSRF(routes.ProductsController.redirect())) {
            <input type="text" id="searchinput" name="input" placeholder="Find your game..." value="@input" list="games">
            <input type="submit" value="Find">
            <datalist id="games">
                @for(cat <- SearchBarService.fetchGameCategoryNames()){
                    <option value="@cat"></option>
                }
            </datalist>
        }
        </div>
    </div>
</div>

<div class="container">
    @if(message != null && message.length > 0) {
        <div>
            <span>
                <h1 style="color: white;">@message</h1>
            </span>
        </div>
    }
</div>