@import java.util

@(suggestions: util.List[util.List[Product]])

@for(row <- suggestions) {
    <div class="row">
    @for(product <- row) {
        <div class="col-md-2 col-sm-2">
            <div class="live-camera">
                <a href="/products/selected/@product.getId">
                    <figure class="live-camera-cover"><img src="@routes.Assets.versioned(product.getGameCategory.getImage)" alt="">
                        <div class="transbox">
                            <p>@product.getBuyPriceText</p>
                            <p>@product.getTitle</p>
                        </div>
                    </figure>
                </a>
            </div>
        </div>
    }
    </div>
}