@(user: User, session: play.mvc.Http.Session)
    @import components._

    @main("Restart"){
        <body>
            <div class="site-content">
                @header("", session)

                @banner()

                <div class="container">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="portlet light profile-sidebar-portlet bordered">
                                <div class="profile-userpic">
                                    <figure class="live-camera-cover"><img src="@routes.Assets.versioned(user.getProfilePicture)" alt=""></figure>
                                </div>

                                <div class="profile-usertitle">
                                    <div class="profile-usertitle-name">@user.getUsername</div>

                                    <div class="profile-usertitle-membersince">
                                        Member Since:<br/>
                                        @user.getMemberSince().format("dd-MM-yyyy")
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="portlet light bordered">

                            </div>
                        </div>
                    </div>
                </div>

                @footer()

                <!-- Required for the banner -->
                <script src="@routes.Assets.versioned("javascripts/jquery-1.11.1.min.js")"></script>

                <script src="@routes.Assets.versioned("javascripts/plugins.js")"></script>
                <script src="@routes.Assets.versioned("javascripts/app.js")"></script>
            </div>
        </body>
    }
