@import components._

@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(product: Product, potentialDiscountedPrice: Double, user: Optional[User], rating: Int, session: play.mvc.Http.Session, verification: String, token: String, userId: String, sessionToken: String, trackingId: String, couponCode: String, mail: String)
    @*
    * Call the `main` template with two arguments. The first
    * argument is a `String` with the title of the page, the second
    * argument is an `Html` object containing the body of the page. test
    *@
    @main("ReStart") {
        <body>
                <!-- required for the paypal method-->
            <script src="https://www.paypalobjects.com/api/checkout.js"></script>

            <div class="site-content">
                @header("Home", session)

                @banner()

                <div class="container">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="live-camera">
                                <figure class="live-camera-cover"><img id="item-display" src="@routes.Assets.versioned(product.getGameCategory.getImage())" alt=""></figure>
                            </div>
                            <a href="/user/@product.getUser.getUsername">
                                <div class="live-camera">

                                    <div class="col-md-6 col-sm-6">
                                        <div class="profile-userpic">
                                            <figure class="live-camera-cover"><img src="@routes.Assets.versioned(product.getUser.getProfilePicture)" alt=""></figure>
                                        </div>
                                    </div>

                                    <div class="profile-usertitle">
                                        <div class="profile-usertitle-name-white">@product.getUser.getUsername</div>

                                        <div class="profile-usertitle-membersince-white">
                                            Member Since:<br/>
                                            @product.getUser.getMemberSince.format("dd-MM-yyyy")
                                        </div>
                                    </div>

                                    @for(star_full <- 1 to rating){
                                        <span><img src="/assets/images/star_full.png" class="col-xs-1"></span>
                                    }
                                    @for(star_empty <- 1 to (5 - rating)){
                                        <span><img src="/assets/images/star_empty.png" class="col-xs-1"></span>
                                    }
                                    <br><br>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-9">
                                    <div class="product-title"><h1>@product.getGameCategory.getName</h1></div>
                                    <div class="product-desc"><h2>@product.getTitle </h2></div>
                                    <div class="profile-usertitle-membersince-white">
                                        <strong>Added Since:</strong> @product.getAddedSince.format("dd-MM-yyyy")
                                    </div>
                                    <hr>

                            <div class="col-md-9">
                                    <div class="payment-title"><h1>Checkout</h1></div>
                            </div>

                            <div class="col-md-3">
                                <div class="product-price">
                                    <h1>€ @{
                                         new java.text.DecimalFormat("#.00").format(potentialDiscountedPrice)
                                        }
                                    </h1>
                                </div>
                            </div>

                                <!-- Coupon Input -->
                            @helper.form(action = helper.CSRF(routes.ProductCheckoutBuyController.couponCode(token)), 'class -> "form-group") {
                                <h2><label class="col-md-3 control-label" for="couponinput">Coupon Code:</label></h2>
                                <div class="col-md-5">
                                    <input id="couponinput" name="coupon" type="text" class="form-control input-md">
                                </div>

                                <!-- Submit Button -->
                                <div class="btn-group cart">
                                    <button type="submit" class="btn btn-xl get">Submit</button>
                                </div>
                            }

                            <br>
                                <!-- Payment Methods -->
                            <div class="col-md-9">
                                <h2>Payment Methods</h2>
                                <div id="paypal-button-container"></div>

                                <script>
                                        paypal.Button.render({

                                            env: 'sandbox', // sandbox | production

                                            // PayPal Client IDs - replace with your own
                                            // Create a PayPal app: https://developer.paypal.com/developer/applications/create
                                            client: {
                                                sandbox:    'AbdCoL1tfBLCfNHnLybmw51lsik4kQKzucST4O98F4qv2DmviQPHsC842O9_4B2yJ5pT5SmjffVy5KLH',
                                                production: 'ARUGUjcXOGAoY3TjOEvHJug50cyQfIrul9VrstpMt84Qvnv9Tg7QyA9IimaZSt7QipkMiSggw-4IZhvL'
                                            },

                                            // Show the buyer a 'Pay Now' button in the checkout flow
                                            commit: true,

                                            // payment() is called when the button is clicked
                                            payment: function(data, actions) {

                                                // Make a call to the REST api to create the payment
                                                return actions.payment.create({
                                                    payment: {
                                                        transactions: [
                                                            {
                                                                amount: { total: @potentialDiscountedPrice, currency: 'EUR' }
                                                            }
                                                        ]
                                                    }
                                                });
                                            },

                                            // onAuthorize() is called when the buyer approves the payment
                                            onAuthorize: function(data, actions) {

                                                // Make a call to the REST api to execute the payment
                                                return actions.payment.execute().then(function() {
                                                    //  window.alert('Payment Complete!');
                                                    window.location.href = "/placeorder/buy/@verification/@token/@userId/@sessionToken/@potentialDiscountedPrice/@trackingId/@couponCode/@mail"
                                                });
                                            }

                                        }, '#paypal-button-container');

                                </script>
                            </div>


                        </div>
                    </div>
                </div>

                @footer()
            </div>

            <!-- Required for the banner -->
            <script src="@routes.Assets.versioned("javascripts/jquery-1.11.1.min.js")"></script>

            <script src="@routes.Assets.versioned("javascripts/plugins.js")"></script>
            <script src="@routes.Assets.versioned("javascripts/app.js")"></script>



        </body>
    }
