@import forms.AdminDeleteForm
@(form: play.data.Form[AdminDeleteForm], user: Optional[User], session: play.mvc.Http.Session)
@import components._

@main("ReStart") {
    <body>
        <div class="site-content">
            @header("Admin", session)

            @banner()

            <div class="container">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="portlet dark profile-sidebar-portlet bordered">
                            <div class="profile-usertitle">
                                <div class="profile-usertitle-name">@session.get("loggedInAs")</div>
                            </div>

                            @adminUserMenu("users", null)
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="portlet">
                        @if(!user.isPresent){
                            <h2>This user does not exist.</h2>
                        } else {
                            <h2>Delete User</h2>

                            @helper.form(action = helper.CSRF(routes.AdminController.deleteUser(user.get().getId.toString)), 'class -> "form-horizontal") {
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="textinput">User:</label>
                                    <div class="col-md-4">
                                        <strong>@user.get().getUsername</strong>
                                    </div>
                                </div>

                                    <!-- Admin password input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="adminPassword">Your Admin Password:</label>
                                    <div class="col-md-4">
                                        <input id="password" name="adminPassword" type="password" class="form-control input-md">
                                        @for(error <- form("adminPassword").errors) {
                                            <p>@error.format(messages())</p>
                                        }
                                    </div>
                                </div>

                                <br>
                                <h3>Are you sure you want to delete this user?</h3>

                                    <!-- Delete Button -->
                                <div class="form-group">
                                    <div class="col-md-8">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </div>
                                </div>
                            }
                                <!-- Cancel Button -->
                            <div>
                                <a href="/admin/users">
                                    <button class="btn btn-primary">Cancel</button>
                                </a>
                            </div>
                        }
                        </div>
                    </div>
                </div>
            </div>
            @footer()

                <!-- Required for the banner -->
            <script src="@routes.Assets.versioned("javascripts/jquery-1.11.1.min.js")"></script>

            <script src="@routes.Assets.versioned("javascripts/plugins.js")"></script>
            <script src="@routes.Assets.versioned("javascripts/app.js")"></script>
        </div>
    </body>
}