@(user: Optional[User], session: play.mvc.Http.Session)
@import components._

@main("ReStart") {
    <body>
        <div class="site-content">
            @header("Admin", session)

            @banner()

            <div class="container">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="portlet dark profile-sidebar-portlet bordered">
                            <div class="profile-usertitle">
                                <div class="profile-usertitle-name">@session.get("loggedInAs")</div>
                            </div>

                            @adminUserMenu("users", null)
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="portlet">
                        @if(!user.isPresent){
                            <h2>This user does not exist.</h2>
                        } else {
                            <h2>View User</h2>

                            <strong>UserId:         </strong> @user.get().getId
                            <br>
                            <strong>Username:       </strong> @user.get().getUsername
                            <br>
                            <strong>Email:          </strong> @user.get().getMail
                            <br>
                            <strong>Payment Email:  </strong> @user.get().getPaymentMail

                        }
                        </div>
                    </div>
                </div>
            </div>
            @footer()

                <!-- Required for the banner -->
            <script src="@routes.Assets.versioned("javascripts/jquery-1.11.1.min.js")"></script>

            <script src="@routes.Assets.versioned("javascripts/plugins.js")"></script>
            <script src="@routes.Assets.versioned("javascripts/app.js")"></script>
        </div>
    </body>
}