@(user: Optional[User], session: play.mvc.Http.Session)
@import components._

@main("ReStart") {
    <body>
        <div class="site-content">
            @header("Admin", session)

            @banner()

            <div class="container">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="portlet dark profile-sidebar-portlet bordered">
                            <div class="profile-usertitle">
                                <div class="profile-usertitle-name">@session.get("loggedInAs")</div>
                            </div>

                            @adminUserMenu("users", null)
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="portlet">
                        @if(!user.isPresent){
                            <h2>This user does not exist.</h2>
                        } else {
                            <h2>View User</h2>

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="id">User Id:</label>
                                <div class="col-md-5">
                                    <strong>@user.get().getId</strong>
                                </div>
                            </div>
                            <br>
                            <br>

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="username">Username:</label>
                                <div class="col-md-5">
                                    <strong>@user.get().getUsername</strong>
                                </div>
                            </div>
                            <br>

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="mail">Email:</label>
                                <div class="col-md-5">
                                    <strong>@user.get().getMail</strong>
                                </div>
                            </div>
                            <br>

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="paymail">PayPal Email:</label>
                                <div class="col-md-5">
                                    <strong>@user.get().getPaymentMail</strong>
                                </div>
                            </div>
                            <br>

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="membersince">Member Since:</label>
                                <div class="col-md-5">
                                    <strong>@user.get().getMemberSince</strong>
                                </div>
                            </div>
                            <br>

                                <!-- Back Button -->
                            <div>
                                <a href="/admin/users">
                                    <button class="btn btn-primary">Back</button>
                                </a>
                            </div>
                        }
                        </div>
                    </div>
                </div>
            </div>
            @footer()

                <!-- Required for the banner -->
            <script src="@routes.Assets.versioned("javascripts/jquery-1.11.1.min.js")"></script>

            <script src="@routes.Assets.versioned("javascripts/plugins.js")"></script>
            <script src="@routes.Assets.versioned("javascripts/app.js")"></script>
        </div>
    </body>
}