@(session: play.mvc.Http.Session)
@import components._

@*
* This template takes a single argument, a String containing a
* message to display.
*@
@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page. test
*@
@main("ReStart") {
    <body>
        <div class="site-content">
            @header("Home", session)

            @banner()

            <br>
            <div class="container">
            <div class="col-md-4">
                <div><h1>Order Confirmed</h1></div>
                <div><h3>Tracking ID:</h3></div>
                <div><h3>E-mail:</h3></div>

            </div>
            </div>

            <br>

            @footer()

        </div>






            <!-- Required for the banner -->
        <script src="@routes.Assets.versioned("javascripts/jquery-1.11.1.min.js")"></script>

        <script src="@routes.Assets.versioned("javascripts/plugins.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/app.js")"></script>
    </body>
}