@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(list: List[List[GameCategory]], session: play.mvc.Http.Session)
@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page. test
*@
    @import components._

@main("ReStart") {
    <body>
        <div class="site-content">
            @header("Home", session)

            @searchbar()

            <main class="main-content">
                <div class="fullwidth-block">
                    <div class="container">
                        <h2 class="section-title">Games</h2>
                        @for(row <- list) {
                            <div class="row">
                            @for(gameCategory <- row) {
                                <div class="col-md-3 col-sm-6">
                                    <div class="live-camera">
                                        <a href="/products/game=@gameCategory.getName.replace(" ", "_")">
                                            <figure class="live-camera-cover"><img src="@routes.Assets.versioned(gameCategory.getImage())" alt=""></figure>
                                            <h3 class="location">@gameCategory.getName</h3>
                                        </a>
                                    </div>
                                </div>
                            }
                            </div>
                        }
                    </div>
                </div>
            </main>

            @footer()
        </div>

            <!-- Required for the banner -->
        <script src="@routes.Assets.versioned("javascripts/jquery-1.11.1.min.js")"></script>

        <script src="@routes.Assets.versioned("javascripts/plugins.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/app.js")"></script>
    </body>
}
