@import components._

@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(gameCategory: GameCategory, product: Product, reviews: List[Review], session: play.mvc.Http.Session)
@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page. test
*@
@main("ReStart") {
    <body>
        <div class="site-content">
            @header("Home", session)

            @banner()


            <div class="container">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <div class="live-camera">
                            <figure class="live-camera-cover"><img id="item-display" src="@routes.Assets.versioned(gameCategory.getImage())" alt=""></figure>
                            <h2>Seller: @product.getUser.getUsername()</h2>
                            <h3>member since: @product.getUser.getMemberSince</h3>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="container-fluid">
                            <div class="content-wrapper">
                                <div class="product-title"><h1>@gameCategory.getName</h1></div>
                                <div class="product-desc"><h2>@product.getTitle </h2></div>

                                <ul id="myTab" class="nav nav-tabs nav_tabs">

                                    <li class="active"><a href="#service-one" data-toggle="tab">DESCRIPTION</a></li>
                                    <li><a href="#service-two" data-toggle="tab">PRODUCT INFO</a></li>
                                    <li><a href="#service-three" data-toggle="tab">REVIEWS</a></li>

                                </ul>

                                <div class="col-md-9">
                                    <div id="myTabContent" class="tab-content">
                                        <div class="tab-pane fade in active" id="service-one">

                                            <section class="container-fluid product-info">
                                                @gameCategory.getDescription()
                                            </section>

                                        </div>
                                        <div class="tab-pane fade" id="service-two">

                                            <section class="container">
                                                @product.getDescription()
                                            </section>

                                        </div>
                                        <div class="tab-pane fade" id="service-three">
                                            <!-- reviews-->
                                            @for(review <- reviews) {
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <img src="@routes.Assets.versioned(review.getSender.getProfilePicture)" class="img-rounded">
                                                            <div class=><a href="/user/@review.getSender.getUsername">@review.getSender.getUsername</a></div>
                                                        </div>
                                                        <div class="col-sm-9">
                                                            <div>
                                                                @for(star_full <- 1 to review.getRating){
                                                                <span><img src="/assets/images/star_full.png" class="col-xs-1"></span>
                                                                }
                                                                @for(star_empty <- 1 to (5 - review.getRating)){
                                                                    <span><img src="/assets/images/star_empty.png" class="col-xs-1"></span>
                                                                }
                                                                <br>
                                                            </div>
                                                            <br>
                                                            <div ><h4>@review.getTitle</h4></div>
                                                            <div>@review.getDescription</div>
                                                            <hr>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="col-md-3">
                                    <section class="container-fluid product-info">
                                        <div class="product-price"><h1>@product.getBuyPriceText</h1></div>

                                        <div class="btn-group cart">
                                            <a href="/404">
                                                <button type="button" class="awesomebutton">
                                                    Buy
                                                </button>
                                            </a>
                                        </div>
                                        <div class="btn-group wishlist">
                                            <a href="/404">
                                                <button type="button" class="awesomebutton">
                                                    Trade
                                                </button>
                                            </a>
                                        </div>
                                    </section>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @footer()
        </div>

            <!-- Required for the banner -->
        <script src="@routes.Assets.versioned("javascripts/jquery-1.11.1.min.js")"></script>

        <script src="@routes.Assets.versioned("javascripts/plugins.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/app.js")"></script>
    </body>
}
