@(form: play.data.Form[forms.VerifyChangePasswordForm], username: String, session: play.mvc.Http.Session)
    @import components._

@main("ReStart") {
    <body>
        <div class="site-content">
            @header("Login", session)

            @banner()

            <div id="login-overlay" class="modal-dialog b2">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">
                            <div class="well" style="background-color: #6fb86f; margin-left: 15px; margin-right: 15px;">
                                <strong>Please check your email for the verification code</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="well">
                                <div class="form-group">
                                    <label for="username" class="control-label">Username</label>
                                    <input readonly type="text" class="form-control" id="username" name="username" value="@username">
                                </div>
                                    <!-- Verify form-->
                                @helper.form(action = helper.CSRF(routes.LoginController.callChangeForgotPassword(username)), 'style -> "margin: 0 auto;") {
                                    <div class="form-group">
                                        <label for="verification" class="control-label">Verification</label>
                                        @defining(if (form("verification").getValue.isPresent) form("verification").getValue.get() else "") { text =>
                                            <input type="text" class="form-control" id="verification" name="verification" required="" title="Please enter your verification" value="@text" placeholder="verification">
                                        }
                                        @for(error <- form("verification").errors) {
                                            <p>@error.format(messages())</p>
                                        }
                                    </div>

                                    <div class="form-group">
                                        <label for="password" class="control-label">Password</label>
                                        <input type="password" class="form-control" id="password" name="password" required="" title="Please enter your password" placeholder="password">
                                        @for(error <- form("password").errors) {
                                            <p>@error.format(messages())</p>
                                        }
                                    </div>

                                    <div class="form-group">
                                        <label for="repeatPassword" class="control-label">Repeat Password</label>
                                        <input type="password" class="form-control" id="repeatPassword" name="repeatPassword" required="" title="Please enter your password" placeholder="password">
                                        @for(error <- form("repeatPassword").errors) {
                                            <p>@error.format(messages())</p>
                                        }
                                    </div>

                                    <div class="g-recaptcha" data-theme="dark light" data-sitekey="6LftmzsUAAAAAGUwS2TcqvKlM8WpLwSv53KpljhL"></div>
                                    <br>
                                    <button class="btn btn-success btn-block">Change Password</button>

                                    @if(form.hasGlobalErrors) {
                                        <p class="error">
                                        @for(error <- form.globalErrors) {
                                            @error.format(messages())
                                        }
                                        </p>
                                    }
                                }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @footer()
        </div>

        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <script src="@routes.Assets.versioned("javascripts/jquery-1.11.1.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/plugins.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/app.js")"></script>
    </body>
}