@(form: play.data.Form[forms.LoginForm], session: play.mvc.Http.Session)
    @import components._

@main("ReStart") {
    <body>
        <div class="site-content">
            @header("Login", session)

            @banner()

            <div id="login-overlay" class="modal-dialog b2">
                <div class="modal-content">

                    <div class="modal-body">
                        <div class="row">

                                <!-- Login form-->
                            <div class="col-xs-6">
                                <div class="well">
                                @helper.form(action = helper.CSRF(routes.LoginController.login()), 'style -> "margin: 0 auto;") {
                                    <div class="form-group">
                                        <label for="username" class="control-label">Username</label>
                                        <input type="text" class="form-control" id="username" name="username" required="" title="Please enter you username" placeholder="username">
                                        @for(error <- form("username").errors) {
                                            <p>@error.format(messages())</p>
                                        }
                                    </div>

                                    <div class="form-group">
                                        <label for="password" class="control-label">Password</label>
                                        <input type="password" class="form-control" id="password" name="password" required="" title="Please enter your password">
                                        @for(error <- form("password").errors) {
                                            <p>@error.format(messages())</p>
                                        }
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="remember" id="remember"> Remember login
                                        </label>
                                    </div>

                                    <button class="btn btn-success btn-block">Login</button>

                                    @if(form.hasGlobalErrors) {
                                        <p class="error">
                                        @for(error <- form.globalErrors) {
                                            @error.format(messages())
                                        }
                                        </p>
                                    }
                                }
                                </div>
                            </div>

                                <!-- Link to register page-->
                            <div class="col-xs-6">
                                <div class="well">
                                    <p class="lead">Register</p>
                                    <ul class="list-unstyled" style="line-height: 2">
                                        <li><span class="fa fa-check text-success"></span> See all your orders</li>
                                        <li><span class="fa fa-check text-success"></span> Sell accounts</li>
                                        <li><span class="fa fa-check text-success"></span> Trade accounts</li>
                                        <li><span class="fa fa-check text-success"></span> Save your favourites</li>
                                    </ul>
                                    <br>
                                    <br>
                                    <a href="/register" class="btn btn-primary btn-block">Register</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @footer()
        </div>

        <script src="@routes.Assets.versioned("javascripts/jquery-1.11.1.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/plugins.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/app.js")"></script>
    </body>
}