@import forms.PersonalSettingsPasswordForm
@(form: play.data.Form[PersonalSettingsPasswordForm], session: play.mvc.Http.Session)
@import components._

@main("ReStart") {
    <body>
        <div class="site-content">
            @header("MyAccount", session)

            @banner()

            <div class="container">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="portlet dark profile-sidebar-portlet bordered">
                            <div class="profile-userpic">
                                <figure class="live-camera-cover"><img src="@routes.Assets.versioned(session.get("profilePictureURL"))" alt=""></figure>
                            </div>

                            <div class="profile-usertitle">
                                <div class="profile-usertitle-name">@session.get("loggedInAs")</div>
                            </div>
                            @*TODO: add changing profile picture*@
                            @*<div class="profile-userbuttons">*@
                                @*<button type="button" class=" btn btn-info btn-sm">Change profile picture</button>*@
                            @*</div>*@

                            @profileUserMenu("personalsettings", null)
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="portlet">
                            <h2>Change Password</h2>

                            @helper.form(action = helper.CSRF(routes.PersonalSettingsController.editPassword()), 'class -> "form-horizontal") {
                                    <!-- Current Password input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="currentPassword">Current Password</label>
                                    <div class="col-md-4">
                                        <input id="currentPassword" name="currentPassword" type="password" class="form-control input-md">
                                        @for(error <- form("currentPassword").errors) {
                                            <p>@error.format(messages())</p>
                                        }
                                    </div>
                                </div>

                                    <!-- New Password input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="password">New Password</label>
                                    <div class="col-md-4">
                                        <input id="password" name="password" type="password" class="form-control input-md">
                                        @for(error <- form("password").errors) {
                                            <p>@error.format(messages())</p>
                                        }
                                    </div>
                                </div>

                                    <!-- New Password input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="repeatPassword">Repeat New Password</label>
                                    <div class="col-md-4">
                                        <input id="repeatPassword" name="repeatPassword" type="password" class="form-control input-md">
                                        @for(error <- form("repeatPassword").errors) {
                                            <p>@error.format(messages())</p>
                                        }
                                    </div>
                                </div>

                                <br>

                                    <!-- Submit Button -->
                                <div class="form-group">
                                    <div class="col-md-8">
                                        <input type="submit" name="Submit" value="Save">
                                    </div>
                                </div>
                                @if(form.hasGlobalErrors) {
                                    <p class="error">
                                        @for(error <- form.globalErrors) {
                                            @error.format(messages())
                                        }
                                    }
                            }
                        </div>
                    </div>
                </div>
            </div>
            @footer()

                <!-- Required for the banner -->
            <script src="@routes.Assets.versioned("javascripts/jquery-1.11.1.min.js")"></script>

            <script src="@routes.Assets.versioned("javascripts/plugins.js")"></script>
            <script src="@routes.Assets.versioned("javascripts/app.js")"></script>
        </div>
    </body>
}