@(session: play.mvc.Http.Session)

    @import components._

@main("ReStart") {
    <body>
        <div class="site-content">
            @header("FAQ", session)

            @banner()

            <div class="container">

                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">
                        Close</span></button>
                    This FAQ contains information related to <strong>ReStart</strong>
                    and its store. If you cannot find an answer to your question,
                    make sure to contact us.
                </div>

                <br />

                <div class="panel-group" id="accordion">
                    <div class="faqHeader">General questions</div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    Do I need to be registered to order a game-account on Restart?</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body b2">
                                No, you do not need to be registered to buy a game-account. If you want to sell or trade accounts however, you do need to be registered.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
                                    How do I buy a game-account?</a>
                            </h4>
                        </div>
                        <div id="collapseTen" class="panel-collapse collapse">
                            <div class="panel-body b2">
                                If you wish to buy a game account you have to select the game you wish to buy. In the product page of the gamecategory you will see different types of accounts, select the account you want to buy. Click on buy and fill in your payment details. After Restart has taken care of the buying process you will receive an e-mail with the details of the account.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">
                                    How do I become a seller?</a>
                            </h4>
                        </div>
                        <div id="collapseEleven" class="panel-collapse collapse">
                            <div class="panel-body b2">

                                    1. On the main page click "Login"
                                        <br>

                                    2. Now click on the "Register" button
                                        <br>
                                    3. Fill in the form and click send!
                                        <br>
                                        <br>
                                You are now registered on the Restart website and able to sell accounts.
                            </div>
                        </div>
                    </div>

                    <br>
                    <div class="faqHeader">Section 2</div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    Why should I buy an account on restart?</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body b2">
                                Answer 4
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    Is my personal information safe on your website?</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body b2">
                                Yes! We respect your privacy. ReStart will never rent or sell your personal information to third parties.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                    Why do you need my payment details?</a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="panel-body b2">
                                We need your payment details so that we can send your earnings when your product sells.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                                    How do I leave a review?</a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse">
                            <div class="panel-body b2">
                                Answer 7
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
                                    How long does it take before I can use the account I buy?</a>
                            </h4>
                        </div>
                        <div id="collapseEight" class="panel-collapse collapse">
                            <div class="panel-body b2">
                                Answer 8
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
                                    How do I check my order?</a>
                            </h4>
                        </div>
                        <div id="collapseNine" class="panel-collapse collapse">
                            <div class="panel-body b2">
                                Answer 9
                            </div>
                        </div>
                    </div>

                    <br>
                    <div class="faqHeader">Section 3</div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                    How will I be paid?</a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body b2">
                                Answer 10
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                                    What price should I sell my game-account for?</a>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse">
                            <div class="panel-body b2">
                                Answer 11
                            </div>
                        </div>
                    </div>

                    <br><br><br><br>
                </div>
            </div>

            <style>
                    .faqHeader {
                        font-size: 27px;
                        margin: 20px;
                    }

                    .panel-heading [data-toggle="collapse"]:after {
                        font-family: 'Glyphicons Halflings';
                        content: ">"; /* "play" icon */
                        float: right;
                        color: #F58723;
                        font-size: 18px;
                        line-height: 22px;
                        /* rotate "play" icon from > (right arrow) to down arrow */
                        -webkit-transform: rotate(-90deg);
                        -moz-transform: rotate(-90deg);
                        -ms-transform: rotate(-90deg);
                        -o-transform: rotate(-90deg);
                        transform: rotate(-90deg);
                    }

                    .panel-heading [data-toggle="collapse"].collapsed:after {
                        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
                        -webkit-transform: rotate(90deg);
                        -moz-transform: rotate(90deg);
                        -ms-transform: rotate(90deg);
                        -o-transform: rotate(90deg);
                        transform: rotate(90deg);
                        color: #454444;
                    }
            </style>


            @footer()

        </div>

            <!-- Required for the banner -->
        <script src="@routes.Assets.versioned("javascripts/jquery-1.11.1.min.js")"></script>

        <script src="@routes.Assets.versioned("javascripts/plugins.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/app.js")"></script>
    </body>
}