@(form: play.data.Form[forms.MailerForm], mail: String, session: play.mvc.Http.Session)

@import components._

@main("Contact Us") {
    <body>
        <div class="site-content">
            @header("Contact", session)

            @banner()

            <section id="contact1">
                <div class="container">
                    <div class="row">
                        <div class="about_our_company">
                            <h1>Contact Us</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-6">
                                        @helper.form(action = helper.CSRF(routes.ContactController.mail()), 'style -> "margin: 0 auto;"){
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="The subject *" name="name" required data-validation-required-message="Please enter the subject.">
                                            @for(error <- form("name").errors) {
                                                <p>@error.format(messages())</p>
                                            }
                                        </div>

                                        <div class="form-group">
                                            <input type="email" class="form-control" value="@mail" placeholder="Your Email *" name="email" required data-validation-required-message="Please enter your email address.">
                                            @for(error <- form("email").errors) {
                                                <p>@error.format(messages())</p>
                                            }
                                        </div>

                                        <div class="form-group">
                                            <input type="tel" class="form-control" placeholder="Your Phone *" name="phone" required data-validation-required-message="Please enter your phone number.">
                                            @for(error <- form("phone").errors) {
                                                <p>@error.format(messages())</p>
                                            }
                                        </div>

                                        <div class="g-recaptcha" data-theme="dark light" data-sitekey="6LftmzsUAAAAAGUwS2TcqvKlM8WpLwSv53KpljhL"></div>

                                    </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <textarea class="form-control" placeholder="Your Message *" name="content" required data-validation-required-message="Please enter a message." ></textarea>
                                                @for(error <- form("content").errors) {
                                                    <p>@error.format(messages())</p>
                                                }
                                            </div>

                                        </div>
                                    <div class="clearfix"></div>
                                    <div class="col-lg-1 text-center">
                                        <div id="success"></div>

                                        <button class="btn btn-primary">Send</button>
                                        @if(form.hasGlobalErrors) {
                                            <p class="error">
                                            @for(error <- form.globalErrors) {
                                                @error.format(messages())
                                            }
                                            }
                                    </div>
                                    }
                                </div>
                        </div>
                        <div class="col-md-4">
                            <p>
                                <strong><i class="fa fa-map-marker"></i> Address</strong><br>
                                Wijnhaven 107, Rotterdam (The Netherlands)
                            </p>
                            <p><strong><i class="fa fa-phone"></i> Phone Number</strong><br>
                                (+31) 010 794 4000</p>
                            <p>
                                <strong><i class="fa fa-envelope"></i>  Email Address</strong><br>
                                <a href="mailto:contact&#64;ReStart.com">contact&#64;ReStart.com</a></p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </section>

            @footer()

            <script src="https://www.google.com/recaptcha/api.js" async defer></script>
            <script src="@routes.Assets.versioned("javascripts/jquery-1.11.1.min.js")"></script>
            <script src="@routes.Assets.versioned("javascripts/plugins.js")"></script>
            <script src="@routes.Assets.versioned("javascripts/app.js")"></script>
        </div>
    </body>
}