@()

@import components._

    @main("Registration Form") {
        <body>
            <div class="site-content">
                @header("Register")

                @helper.form(action = helper.CSRF(routes.RegistrationController.submit())) {
                    <div class="form-group">
                        <label for="name" class="cols-sm-2 control-label">Your Name</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="name" id="name"  placeholder="Enter your Name"/>
                            </div>
                        </div>
                    </div>

                    <button type="submit">DO EET</button>
                }

                @footer()
            </div>
        </body>
    }